tests/DPDServices/Client/dpd.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dpdservices.dpd.com.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dpdservices.dpd.com.pl/" name="DPDPackageObjServicesService">
<types>
<xsd:schema>
<xsd:import namespace="http://dpdservices.dpd.com.pl/" schemaLocation="https://dpdservicesdemo.dpd.com.pl/DPDPackageObjServicesService/DPDPackageObjServices?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="appendParcelsToPackageV1">
<part name="parameters" element="tns:appendParcelsToPackageV1"></part>
</message>
<message name="appendParcelsToPackageV1Response">
<part name="parameters" element="tns:appendParcelsToPackageV1Response"></part>
</message>
<message name="DPDServiceException">
<part name="fault" element="tns:DPDServiceException"></part>
</message>
<message name="findPostalCodeV1">
<part name="parameters" element="tns:findPostalCodeV1"></part>
</message>
<message name="findPostalCodeV1Response">
<part name="parameters" element="tns:findPostalCodeV1Response"></part>
</message>
<message name="generatePackagesNumbersV1">
<part name="parameters" element="tns:generatePackagesNumbersV1"></part>
</message>
<message name="generatePackagesNumbersV1Response">
<part name="parameters" element="tns:generatePackagesNumbersV1Response"></part>
</message>
<message name="generatePackagesNumbersV2">
<part name="parameters" element="tns:generatePackagesNumbersV2"></part>
</message>
<message name="generatePackagesNumbersV2Response">
<part name="parameters" element="tns:generatePackagesNumbersV2Response"></part>
</message>
<message name="generatePackagesNumbersV3">
<part name="parameters" element="tns:generatePackagesNumbersV3"></part>
</message>
<message name="generatePackagesNumbersV3Response">
<part name="parameters" element="tns:generatePackagesNumbersV3Response"></part>
</message>
<message name="generatePackagesNumbersV4">
<part name="parameters" element="tns:generatePackagesNumbersV4"></part>
</message>
<message name="generatePackagesNumbersV4Response">
<part name="parameters" element="tns:generatePackagesNumbersV4Response"></part>
</message>
<message name="generateSpedLabelsV1">
<part name="parameters" element="tns:generateSpedLabelsV1"></part>
</message>
<message name="generateSpedLabelsV1Response">
<part name="parameters" element="tns:generateSpedLabelsV1Response"></part>
</message>
<message name="generateSpedLabelsV2">
<part name="parameters" element="tns:generateSpedLabelsV2"></part>
</message>
<message name="generateSpedLabelsV2Response">
<part name="parameters" element="tns:generateSpedLabelsV2Response"></part>
</message>
<message name="generateSpedLabelsV3">
<part name="parameters" element="tns:generateSpedLabelsV3"></part>
</message>
<message name="generateSpedLabelsV3Response">
<part name="parameters" element="tns:generateSpedLabelsV3Response"></part>
</message>
<message name="generateSpedLabelsV4">
<part name="parameters" element="tns:generateSpedLabelsV4"></part>
</message>
<message name="generateSpedLabelsV4Response">
<part name="parameters" element="tns:generateSpedLabelsV4Response"></part>
</message>
<message name="generateProtocolV1">
<part name="parameters" element="tns:generateProtocolV1"></part>
</message>
<message name="generateProtocolV1Response">
<part name="parameters" element="tns:generateProtocolV1Response"></part>
</message>
<message name="generateProtocolV2">
<part name="parameters" element="tns:generateProtocolV2"></part>
</message>
<message name="generateProtocolV2Response">
<part name="parameters" element="tns:generateProtocolV2Response"></part>
</message>
<message name="generateProtocolsWithDestinationsV1">
<part name="parameters" element="tns:generateProtocolsWithDestinationsV1"></part>
</message>
<message name="generateProtocolsWithDestinationsV1Response">
<part name="parameters" element="tns:generateProtocolsWithDestinationsV1Response"></part>
</message>
<message name="generateProtocolsWithDestinationsV2">
<part name="parameters" element="tns:generateProtocolsWithDestinationsV2"></part>
</message>
<message name="generateProtocolsWithDestinationsV2Response">
<part name="parameters" element="tns:generateProtocolsWithDestinationsV2Response"></part>
</message>
<message name="packagesPickupCallV1">
<part name="parameters" element="tns:packagesPickupCallV1"></part>
</message>
<message name="packagesPickupCallV1Response">
<part name="parameters" element="tns:packagesPickupCallV1Response"></part>
</message>
<message name="packagesPickupCallV2">
<part name="parameters" element="tns:packagesPickupCallV2"></part>
</message>
<message name="packagesPickupCallV2Response">
<part name="parameters" element="tns:packagesPickupCallV2Response"></part>
</message>
<message name="packagesPickupCallV3">
<part name="parameters" element="tns:packagesPickupCallV3"></part>
</message>
<message name="packagesPickupCallV3Response">
<part name="parameters" element="tns:packagesPickupCallV3Response"></part>
</message>
<message name="packagesPickupCallV4">
<part name="parameters" element="tns:packagesPickupCallV4"></part>
</message>
<message name="packagesPickupCallV4Response">
<part name="parameters" element="tns:packagesPickupCallV4Response"></part>
</message>
<message name="getCourierOrderAvailabilityV1">
<part name="parameters" element="tns:getCourierOrderAvailabilityV1"></part>
</message>
<message name="getCourierOrderAvailabilityV1Response">
<part name="parameters" element="tns:getCourierOrderAvailabilityV1Response"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="importDeliveryBusinessEventV1">
<part name="parameters" element="tns:importDeliveryBusinessEventV1"></part>
</message>
<message name="importDeliveryBusinessEventV1Response">
<part name="parameters" element="tns:importDeliveryBusinessEventV1Response"></part>
</message>
<message name="DeniedAccessWSException">
<part name="fault" element="tns:DeniedAccessWSException"></part>
</message>
<message name="SchemaValidationException">
<part name="fault" element="tns:SchemaValidationException"></part>
</message>
<portType name="DPDPackageObjServices">
<operation name="appendParcelsToPackageV1">
<input message="tns:appendParcelsToPackageV1"></input>
<output message="tns:appendParcelsToPackageV1Response"></output>
<fault message="tns:DPDServiceException" name="DPDServiceException"></fault>
</operation>
<operation name="findPostalCodeV1">
<input message="tns:findPostalCodeV1"></input>
<output message="tns:findPostalCodeV1Response"></output>
<fault message="tns:DPDServiceException" name="DPDServiceException"></fault>
</operation>
<operation name="generatePackagesNumbersV1">
<input message="tns:generatePackagesNumbersV1"></input>
<output message="tns:generatePackagesNumbersV1Response"></output>
<fault message="tns:DPDServiceException" name="DPDServiceException"></fault>
</operation>
<operation name="generatePackagesNumbersV2">
<input message="tns:generatePackagesNumbersV2"></input>
<output message="tns:generatePackagesNumbersV2Response"></output>
<fault message="tns:DPDServiceException" name="DPDServiceException"></fault>
</operation>
<operation name="generatePackagesNumbersV3">
<input message="tns:generatePackagesNumbersV3"></input>
<output message="tns:generatePackagesNumbersV3Response"></output>
<fault message="tns:DPDServiceException" name="DPDServiceException"></fault>
</operation>
<operation name="generatePackagesNumbersV4">
<input message="tns:generatePackagesNumbersV4"></input>
<output message="tns:generatePackagesNumbersV4Response"></output>
<fault message="tns:DPDServiceException" name="DPDServiceException"></fault>
</operation>
<operation name="generateSpedLabelsV1">
<input message="tns:generateSpedLabelsV1"></input>
<output message="tns:generateSpedLabelsV1Response"></output>
<fault message="tns:DPDServiceException" name="DPDServiceException"></fault>
</operation>
<operation name="generateSpedLabelsV2">
<input message="tns:generateSpedLabelsV2"></input>
<output message="tns:generateSpedLabelsV2Response"></output>
<fault message="tns:DPDServiceException" name="DPDServiceException"></fault>
</operation>
<operation name="generateSpedLabelsV3">
<input message="tns:generateSpedLabelsV3"></input>
<output message="tns:generateSpedLabelsV3Response"></output>
<fault message="tns:DPDServiceException" name="DPDServiceException"></fault>
</operation>
<operation name="generateSpedLabelsV4">
<input message="tns:generateSpedLabelsV4"></input>
<output message="tns:generateSpedLabelsV4Response"></output>
<fault message="tns:DPDServiceException" name="DPDServiceException"></fault>
</operation>
<operation name="generateProtocolV1">
<input message="tns:generateProtocolV1"></input>
<output message="tns:generateProtocolV1Response"></output>
<fault message="tns:DPDServiceException" name="DPDServiceException"></fault>
</operation>
<operation name="generateProtocolV2">
<input message="tns:generateProtocolV2"></input>
<output message="tns:generateProtocolV2Response"></output>
<fault message="tns:DPDServiceException" name="DPDServiceException"></fault>
</operation>
<operation name="generateProtocolsWithDestinationsV1">
<input message="tns:generateProtocolsWithDestinationsV1"></input>
<output message="tns:generateProtocolsWithDestinationsV1Response"></output>
<fault message="tns:DPDServiceException" name="DPDServiceException"></fault>
</operation>
<operation name="generateProtocolsWithDestinationsV2">
<input message="tns:generateProtocolsWithDestinationsV2"></input>
<output message="tns:generateProtocolsWithDestinationsV2Response"></output>
<fault message="tns:DPDServiceException" name="DPDServiceException"></fault>
</operation>
<operation name="packagesPickupCallV1">
<input message="tns:packagesPickupCallV1"></input>
<output message="tns:packagesPickupCallV1Response"></output>
<fault message="tns:DPDServiceException" name="DPDServiceException"></fault>
</operation>
<operation name="packagesPickupCallV2">
<input message="tns:packagesPickupCallV2"></input>
<output message="tns:packagesPickupCallV2Response"></output>
<fault message="tns:DPDServiceException" name="DPDServiceException"></fault>
</operation>
<operation name="packagesPickupCallV3">
<input message="tns:packagesPickupCallV3"></input>
<output message="tns:packagesPickupCallV3Response"></output>
<fault message="tns:DPDServiceException" name="DPDServiceException"></fault>
</operation>
<operation name="packagesPickupCallV4">
<input message="tns:packagesPickupCallV4"></input>
<output message="tns:packagesPickupCallV4Response"></output>
<fault message="tns:DPDServiceException" name="DPDServiceException"></fault>
</operation>
<operation name="getCourierOrderAvailabilityV1">
<input message="tns:getCourierOrderAvailabilityV1"></input>
<output message="tns:getCourierOrderAvailabilityV1Response"></output>
<fault message="tns:DPDServiceException" name="DPDServiceException"></fault>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="importDeliveryBusinessEventV1">
<input message="tns:importDeliveryBusinessEventV1"></input>
<output message="tns:importDeliveryBusinessEventV1Response"></output>
<fault message="tns:DeniedAccessWSException" name="DeniedAccessWSException"></fault>
<fault message="tns:SchemaValidationException" name="SchemaValidationException"></fault>
<fault message="tns:DPDServiceException" name="DPDServiceException"></fault>
</operation>
</portType>
<binding name="DPDPackageObjServicesPortBinding" type="tns:DPDPackageObjServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="appendParcelsToPackageV1">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DPDServiceException">
<soap:fault name="DPDServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="findPostalCodeV1">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DPDServiceException">
<soap:fault name="DPDServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="generatePackagesNumbersV1">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DPDServiceException">
<soap:fault name="DPDServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="generatePackagesNumbersV2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DPDServiceException">
<soap:fault name="DPDServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="generatePackagesNumbersV3">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DPDServiceException">
<soap:fault name="DPDServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="generatePackagesNumbersV4">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DPDServiceException">
<soap:fault name="DPDServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="generateSpedLabelsV1">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DPDServiceException">
<soap:fault name="DPDServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="generateSpedLabelsV2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DPDServiceException">
<soap:fault name="DPDServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="generateSpedLabelsV3">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DPDServiceException">
<soap:fault name="DPDServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="generateSpedLabelsV4">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DPDServiceException">
<soap:fault name="DPDServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="generateProtocolV1">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DPDServiceException">
<soap:fault name="DPDServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="generateProtocolV2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DPDServiceException">
<soap:fault name="DPDServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="generateProtocolsWithDestinationsV1">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DPDServiceException">
<soap:fault name="DPDServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="generateProtocolsWithDestinationsV2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DPDServiceException">
<soap:fault name="DPDServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="packagesPickupCallV1">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DPDServiceException">
<soap:fault name="DPDServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="packagesPickupCallV2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DPDServiceException">
<soap:fault name="DPDServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="packagesPickupCallV3">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DPDServiceException">
<soap:fault name="DPDServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="packagesPickupCallV4">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DPDServiceException">
<soap:fault name="DPDServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getCourierOrderAvailabilityV1">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DPDServiceException">
<soap:fault name="DPDServiceException" use="literal"></soap:fault>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="importDeliveryBusinessEventV1">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DeniedAccessWSException">
<soap:fault name="DeniedAccessWSException" use="literal"></soap:fault>
</fault>
<fault name="SchemaValidationException">
<soap:fault name="SchemaValidationException" use="literal"></soap:fault>
</fault>
<fault name="DPDServiceException">
<soap:fault name="DPDServiceException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="DPDPackageObjServicesService">
<port name="DPDPackageObjServicesPort" binding="tns:DPDPackageObjServicesPortBinding">
<soap:address location="https://dpdservicesdemo.dpd.com.pl/DPDPackageObjServicesService/DPDPackageObjServices"></soap:address>
</port>
</service>
</definitions>